<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{vm.tituloSeccion}}</h2>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-8">
            <div class="ibox">
                <div class="ibox-title">
                    <div class="row">
                            <div class="col-md-3">
                                    <h2>Lista de clientes</h2>
                            </div>
                            <div class="col-md-9 text-right">
                                    <div class="mail-tools">
                                            <button class="btn btn-primary btn-labeled" ui-sref="index.alta_cliente"><span class="btn-label"><i class="fa fa-plus"></i></span> Agregar nuevo registro</button>
                                    </div>
                            </div>
                    </div>
                </div>
                <div class="ibox-content">
                    

                    <div class="row">
                        <div class="col-md-4">
                                        <div class="input-group" style="margin-top:17px;">
                                                <label class="col-md-4 control-label" style="margin-top:7px;">Localidad:</label>
                                                <div class="col-md-8">
                                                    <select class="form-control m-b" ng-model="vm.localidadSeleccionada" ng-change="vm.muestra_clientes_localidad()" ng-options="localidad as localidad.nombreLocalidad for localidad in vm.listaLocalidades" required></select>
                                            </div>
                                        </div>                            

                        </div>
                        <div class="col-md-8">
                                        <div class="input-group" style="margin-top:16px;">
                                            <input type="text" ng-teclaenter="vm.muestraResultadosBusqueda()" placeholder="Escriba el contacto, compa&ntilde;ia o celular a buscar" class="input form-control" ng-model="vm.nombre_buscar" required>
                                                    <span class="input-group-btn">
                                                            <button class="btn btn-primary btn-labeled" ng-click="vm.muestraResultadosBusqueda()"><span class="btn-label"><i class="fa fa-search"></i></span> Buscar</button>
                                                            <button class="btn btn-success btn-labeled" ng-click="vm.limpiaBusqueda()" ng-show="vm.mostrarbtnLimpiar"><span class="btn-label"><i class="fa fa-times"></i></span> Limpiar</button>
                                                    </span>
                                        </div>
                        </div>
                    </div>

                    
                    <br>
                            <table class="tablaDatos table table-condensed table-hover no-footer">
                              <thead>
                                <tr>
                                    <th>Localidad</th>
                                    <th>Rubro principal</th>
                                    <th>Compa&ntilde;ia</th>
                                    <th>Contacto</th>
                                    <th>Celular 1</th>
                                    <th>Email</th>
                                    <th>&uacute;ltimo SMS</th>
                                </tr>
                              </thead>
                             <tbody>
                                <tr ng-repeat="cliente in vm.clientes" ng-click="vm.muestraDatosclienteActual(cliente)" ng-class="{seleccion:$index==vm.tablaListaClientes.fila_seleccionada}" class="pointer">
                                    <td> {{cliente.localidad_pertenece.nombreLocalidad}}</td>
                                    <td> {{cliente.rubro_principal.rubro}}</td>
                                    <td> {{cliente.compania}}</td>
                                    <td> {{cliente.nombre +' '+ cliente.apellidos}}</td>
                                    <td> {{cliente.celular1}}</td>
                                    <td> {{cliente.email}}</td>
                                    <!-- <td class="client-status"><span class="label label-{{cliente.tipoCliente === 'atendido' ? 'primary' : 'warning'}}">{{cliente.tipoCliente === 'atendido' ? 'S&iacute;' : 'No'}}</span></td> -->
                                    
                                    <td class="client-status" ng-switch on="cliente.programacion_mensajes[0].respEstatusEnvio">

                                        <span ng-switch-when="Entregado" class="label label-primary">{{cliente.programacion_mensajes[0].respEstatusEnvio}}</span>
                                        <span ng-switch-when="Esperando Estatus" class="label label-warning">{{cliente.programacion_mensajes[0].respEstatusEnvio}}</span>
                                        <span ng-switch-when="Fallido" class="label label-danger">{{cliente.programacion_mensajes[0].respEstatusEnvio}}</span>
                                        <span ng-switch-when="No existe" class="label label-default">{{cliente.programacion_mensajes[0].respEstatusEnvio}}</span>
                                    </td>
                                </tr>
                              </tbody>
                            </table>

                            <tabla-paginacion config="vm.tablaListaClientes" paginar="vm.cambiarPagina()"></tabla-paginacion>

                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="ibox ">
        
                <div class="ibox-content" style="height:750px;">
                    <div class="tab-content">
        
                        <div class="tab-pane active" ng-show="vm.client == 1" ng-init="vm.client = 1">

                                    <div class="row">
                                        <div class="col-lg-12 text-center">
                                            <p>
                                                <h2>Seleccione un registro para ver los detalles</h2>
                                            </p>
                                        </div>
                                    </div>
                        </div>
        
                        <div class="tab-pane active" ng-show="vm.client == 2">

                                    <div class="row">
                                        <div class="col-lg-12 text-center">
                                            <p>
                                                <h2>{{vm.clienteSeleccionado.compania}}</h2>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 text-center">
                                            <p>
                                                <h4>{{vm.clienteSeleccionado.nombre +' '+ vm.clienteSeleccionado.apellidos}}</h4>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="panel blank-panel">
                                        <tabset>
                                            <tab heading="Datos generales">

                                                <ul class="list-group clear-list" style="height:510px">
                                                    <li style="height: 140px" class="list-group-item fist-item">
                                                        <span class="pull-right" style="width: 450px;"> {{vm.clienteSeleccionado.descripcion}} </span>
                                                        Descripci&oacute;n
                                                    </li>
                                                    <li class="list-group-item">
                                                        <span class="pull-right"> {{vm.clienteSeleccionado.celular1 + ' (' + vm.clienteSeleccionado.operadorCelular1 + ')'}} </span>
                                                        Celular 1
                                                    </li>
                                                    <li class="list-group-item">
                                                        <span class="pull-right"> {{vm.clienteSeleccionado.celular2}} </span>
                                                        Celular 2
                                                    </li>
                                                    <li class="list-group-item">
                                                        <span class="pull-right"> {{vm.clienteSeleccionado.email}} </span>
                                                        Correo eletr&oacute;nico
                                                    </li>
                                                    <li class="list-group-item">
                                                        <span class="pull-right"> {{vm.clienteSeleccionado.telefonoOficina}} </span>
                                                        Tel&eacute;fono oficina
                                                    </li>
                                                    <li class="list-group-item">
                                                        <span class="pull-right"> {{vm.clienteSeleccionado.sucursales[0].direccion}} </span>
                                                        Direcci&oacute;n
                                                    </li>
                                                    <li class="list-group-item">
                                                        <span class="pull-right"> {{vm.clienteSeleccionado.localidad_pertenece.nombreLocalidad}} </span>
                                                        Localidad y Municipio
                                                    </li>
                                                    <li class="list-group-item">
                                                        <span class="pull-right"> {{vm.clienteSeleccionado.fechaAlta | date:'d/MMMM/yyyy'}} </span>
                                                        Fecha de alta
                                                    </li>
                                                    <li style="height: 130px" class="list-group-item">
                                                        <span class="pull-right" style="width: 450px;">{{vm.clienteSeleccionado.notas}}</span>
                                                       Notas
                                                    </li>
                                                </ul>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                                <div class="col-md-4 col-md-offset-2">
                                                                    <button type="button" ui-sref="index.editar_cliente({ id: vm.clienteSeleccionado.idCliente })" class="btn btn-primary btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-pencil"></i></span> Editar los datos</button>
                                                                </div>
                                                                <div class="col-md-4 col-md-offset-1">
                                                                    <button type="button" ng-click="vm.eliminar_cliente(vm.clienteSeleccionado)" class="btn btn-danger btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-trash-o"></i></span> Eliminar registro</button>
                                                                </div>
                                                    </div>
                                                </div>
                                            </tab>

                                            <tab heading="Publicidad SMS">
                                                <div style="position: relative;height: 570px;">
                                                        <div class="full-height-scroll" full-scroll>

                                                            <!-- <div id="vertical-timeline" class="vertical-container light-timeline" ng-repeat="mensaje_enviado in vm.clienteSeleccionado.mensajes_enviados"> -->
                                                            <div id="vertical-timeline" class="vertical-container dark-timeline" ng-repeat="mensaje_enviado in vm.clienteSeleccionado.programacion_mensajes">

                                                                    <div class="vertical-timeline-block" ng-switch on="mensaje_enviado.respEstatusEnvio">
                                                                            <div ng-switch-when="Entregado" class="vertical-timeline-icon navy-bg"><i class="fa fa-check"></i></div>
                                                                            <div ng-switch-when="Esperando Estatus" class="vertical-timeline-icon yellow-bg"><i class="fa fa-clock-o"></i></div>
                                                                            <div ng-switch-when="Fallido" class="vertical-timeline-icon red-bg"><i class="fa fa-times"></i></div>
                                                                            <div ng-switch-when="No existe" class="vertical-timeline-icon gray-bg"><i class="fa fa-ban"></i></div>
                                                                                                                                        
                                                                            <div class="vertical-timeline-content">
                                                                                <!-- <span ng-switch-when="Entregado" class="label label-primary">{{mensaje_enviado.estatus}}</span>
                                                                                <span ng-switch-when="Esperando Estatus" class="label label-warning">{{mensaje_enviado.estatus}}</span>
                                                                                <span ng-switch-when="Fallido" class="label label-danger">{{mensaje_enviado.estatus}}</span>
                                                                                <span ng-switch-when="No existe" class="label label-default">{{mensaje_enviado.estatus}}</span> -->
                                                                                <span class="label label-default">Enviado al: {{mensaje_enviado.celular}}</span>
                                                                                <p>{{mensaje_enviado.mensajesCliente.mensaje}}</p>
                                                                                <span class="vertical-date"> <small>Enviado el: {{mensaje_enviado.respFechaHoraEnvio | date:"d 'de' MMMM 'de' yyyy ' a las ' hh:mm a"}}</small> </span>
                                                                            </div>
                                                                    </div>

                                                            </div>
                                                        </div>
                                                </div>
                                            </tab>

                                            <!-- <tab heading="Servicios contratados">
                                                        <table class="table">
                                                          <thead>
                                                            <tr>
                                                                <th>Producto</th>
                                                                <th>Fecha</th>
                                                                <th>Estatus</th>
                                                            </tr>
                                                          </thead>
                                                         <tbody>
                                                            <tr ng-repeat="cliente in vm.clientes" ng-click="vm.muestraDatosclienteActual(cliente)" ng-class="{seleccion:$index==vm.tablaListaClientes.fila_seleccionada}" class="pointer">
                                                                <td> {{cliente.localidad_pertenece.nombreLocalidad}}</td>
                                                                <td> {{cliente.rubro_principal.rubro}}</td>
                                                                <td> {{cliente.compania}}</td>
                                                                <td> {{cliente.nombre +' '+ cliente.apellidos}}</td>
                                                                <td> {{cliente.celular1}}</td>
                                                                <td> {{cliente.email}}</td>
                                                                <td class="client-status"><span class="label label-{{cliente.tipoCliente === 'atendido' ? 'primary' : 'warning'}}">{{cliente.tipoCliente === 'atendido' ? 'S&iacute;' : 'No'}}</span></td>
                                                                
                                                                <td class="client-status" ng-switch on="cliente.mensajes_enviados[0].estatus">
                                                            
                                                                    <span ng-switch-when="Entregado" class="label label-primary">{{cliente.mensajes_enviados[0].estatus}}</span>
                                                                    <span ng-switch-when="Esperando Estatus" class="label label-warning">{{cliente.mensajes_enviados[0].estatus}}</span>
                                                                    <span ng-switch-when="Fallido" class="label label-danger">{{cliente.mensajes_enviados[0].estatus}}</span>
                                                                    <span ng-switch-when="No existe" class="label label-default">{{cliente.mensajes_enviados[0].estatus}}</span>
                                                                </td>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                            </tab> -->

                                        <tabset>
                                    </div>

                                </div>
      
                        </div> <!-- client == 2 -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
