<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{vm.tituloSeccion}}</h2>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-8">
            <div class="ibox">
                <div class="ibox-title">
                    <div class="row">
                            <div class="col-md-8">
                                    <h2>Lista de predios disponibles</h2>
                            </div>
                            <div class="col-md-4">
                                        <div class="input-group col-md-offset-2">
                                                <label class="col-md-3 control-label" style="margin-top:7px;">Municipio:</label>
                                                <div class="col-md-9">
                                                    <select class="form-control m-b" ng-model="vm.municipioSeleccionado" ng-change="vm.muestra_predios_municipio()" ng-options="municipio as municipio.nombreMunicipio for municipio in vm.listaMunicipios" required></select>
                                            </div>
                                        </div>
                            </div>
                    </div>
                </div>
                <div class="ibox-content">
                    
                    <div class="row">
                        <div class="col-md-4">
                                        <div class="input-group" style="margin-top:17px;width: 300px;">
                                                <label class="col-md-3 control-label" style="margin-top:7px;">Localidad:</label>
                                                <div class="col-md-9">
                                                    <select class="form-control m-b" ng-model="vm.localidadSeleccionada" ng-change="vm.muestra_predios_localidad()" ng-options="localidad as localidad.nombreLocalidad for localidad in vm.listaLocalidades" required></select>
                                            </div>
                                        </div>
                        </div>
                        <div class="col-md-4">
                                        <div class="input-group" style="margin-top:17px;width: 400px;">
                                                <label class="col-md-2 control-label" style="margin-top:7px;">Colonia:</label>
                                                <div class="col-md-10">
                                                    <select class="form-control m-b" ng-model="vm.coloniaSeleccionada" ng-change="vm.muestra_predios_colonia()" ng-options="colonia as colonia.colonia for colonia in vm.listaColonias" required></select>
                                            </div>
                                        </div>
                        </div>
                        <div class="col-md-4">
                                        <div class="input-group" style="margin-top:16px;">
                                            <input type="text" ng-teclaenter="vm.muestraResultadosBusqueda()" placeholder="Escriba la manzana a buscar" class="input form-control" ng-model="vm.nombre_buscar" required>
                                                    <span class="input-group-btn">
                                                            <button class="btn btn-primary btn-labeled" ng-click="vm.muestraResultadosBusqueda()"><span class="btn-label"><i class="fa fa-search"></i></span> Buscar</button>
                                                            <button class="btn btn-success btn-labeled" ng-click="vm.limpiaBusqueda()" ng-show="vm.mostrarbtnLimpiar"><span class="btn-label"><i class="fa fa-times"></i></span> Limpiar</button>
                                                    </span>
                                        </div>
                        </div>
                    </div>

                    
                    <br>
                            <table class="tablaDatos table table-condensed table-hover no-footer">
                              <thead>
                                <tr>
                                    <th>IDP</th>
                                    <th>Municipio</th>
                                    <th>Localidad</th>
                                    <th>Colonia</th>
                                    <th>Manzana</th>
                                    <th>Lote</th>
                                    <th>Subd. lote</th>
                                    <th>Estatus</th>
                                </tr>
                              </thead>
                             <tbody>
                                <tr ng-repeat="predio in vm.predios" ng-click="vm.muestraDatosPredioActual(predio)" ng-class="{seleccion:$index==vm.tablaListaPredios.fila_seleccionada}" class="pointer">
                                    <td> {{predio.idp}}</td>
                                    <td> {{predio.municipio}}</td>
                                    <td> {{predio.localidad}}</td>
                                    <td> {{predio.colonia}}</td>
                                    <td> {{predio.manzana}}</td>
                                    <td> {{predio.lote}}</td>
                                    <td> {{predio.subdivisionLote}}</td>
                                    <td class="client-status" ng-switch on="predio.estatusDisponibles">

                                        <span ng-switch-when="NO DEFINIDO"              class="label label-default">{{predio.estatusDisponibles}}</span>
                                        <span ng-switch-when="DISPONIBLE"               class="label label-info">   {{predio.estatusDisponibles}}</span>
                                        <span ng-switch-when="COMPROMETIDO"             class="label label-success">{{predio.estatusDisponibles}}</span>
                                        <span ng-switch-when="EN REVISION DE SITUACION" class="label label-warning">{{predio.estatusDisponibles}}</span>
                                    </td>
                                </tr>
                              </tbody>
                            </table>

                            <tabla-paginacion config="vm.tablaListaPredios" paginar="vm.cambiarPagina()"></tabla-paginacion>

                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="ibox ">
        
                <div class="ibox-content" style="height:750px;">
                    <div class="tab-content">
        
                        <div class="tab-pane active" ng-show="vm.client == 1" ng-init="vm.client = 1">

                                    <div class="row">
                                        <div class="col-lg-12 text-center">
                                            <p>
                                                <h2>Seleccione un registro para ver los detalles</h2>
                                            </p>
                                        </div>
                                    </div>
                        </div>
        
                        <div class="tab-pane active" ng-show="vm.client == 2">

                                    <section id="map">
                                        <div ui-map="vm.mapa.MapaUbicacionPredio" ui-options="vm.mapa.mapOptions" style="width: 100%; height: 440px;"></div>
                                    </section>

                                    <div class="panel blank-panel">
                                        <tabset>
                                            <tab heading="Datos generales">
                                                <div style="position: relative;height: 180px;">

                                                    <div class="full-height-scroll" full-scroll>

                                                        <ul class="list-group clear-list" style="height:510px; padding:20px;">
                                                            <li class="list-group-item fist-item">
                                                                <span class="pull-right"> {{vm.predioSeleccionado.idp}} </span>
                                                                Identificador del predio (IDP)
                                                            </li>
                                                            <li class="list-group-item">
                                                                <span class="pull-right" ng-switch on="vm.predioSeleccionado.estatusDisponibles">
                                                                    <span ng-switch-when="NO DEFINIDO"              class="label label-default">{{vm.predioSeleccionado.estatusDisponibles}}</span>
                                                                    <span ng-switch-when="DISPONIBLE"               class="label label-info">   {{vm.predioSeleccionado.estatusDisponibles}}</span>
                                                                    <span ng-switch-when="COMPROMETIDO"             class="label label-success">{{vm.predioSeleccionado.estatusDisponibles}}</span>
                                                                    <span ng-switch-when="EN REVISION DE SITUACION" class="label label-warning">{{vm.predioSeleccionado.estatusDisponibles}}</span>
                                                                </span>
                                                                Estatus
                                                            </li>
                                                            <li class="list-group-item">
                                                                <span class="pull-right"> {{vm.predioSeleccionado.municipio}} </span>
                                                                Municipio
                                                            </li>
                                                            <li class="list-group-item">
                                                                <span class="pull-right"> {{vm.predioSeleccionado.localidad}} </span>
                                                                Localidad
                                                            </li>
                                                            <li class="list-group-item">
                                                                <span class="pull-right"> {{vm.predioSeleccionado.colonia}} </span>
                                                                Colonia o Fraccionamiento
                                                            </li>
                                                            <li class="list-group-item">
                                                                <span class="pull-right"> {{vm.predioSeleccionado.manzana}} </span>
                                                                Manzana
                                                            </li>
                                                            <li class="list-group-item">
                                                                <span class="pull-right"> {{vm.predioSeleccionado.lote}} </span>
                                                                Lote
                                                            </li>
                                                            <li style="height: 80px" class="list-group-item">
                                                                <span class="pull-right" style="width: 300px;text-align: right;"> {{vm.predioSeleccionado.direccion}} </span>
                                                                Direcci&oacute;n
                                                            </li>
                                                            <li class="list-group-item">
                                                                <span class="pull-right"> {{vm.predioSeleccionado.claveCatastral}} </span>
                                                                Clave catastral
                                                            </li>
                                                            <li class="list-group-item">
                                                                <span class="pull-right"> {{vm.predioSeleccionado.superficie | number}} mts<sup>2</sup></span>
                                                                Superficie legal
                                                            </li>
                                                            <li class="list-group-item">
                                                                <span class="pull-right"> {{vm.predioSeleccionado.folioElectronicoRpp}} </span>
                                                                Folio RPP
                                                            </li>
                                                            <li style="height: 80px" class="list-group-item">
                                                                <span class="pull-right" style="width: 300px;text-align: right;"> {{vm.predioSeleccionado.observacionesPredio}} </span>
                                                                Observaciones del predio
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
        
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12 text-center">
                                                                <div class="col-md-6">
                                                                    <button type="button" ng-click="vm.cambia_estatus_disponibles(vm.predioSeleccionado)" class="btn btn-primary btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-pencil"></i></span> Cambiar el estatus</button>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <button type="button" ng-click="vm.mueve_predios_contratados(vm.predioSeleccionado)" class="btn btn-danger btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-trash-o"></i></span> Mover a contratados</button>
                                                                </div>
                                                    </div>
                                                </div>

                                            </tab>

                                            <tab heading="Costos del predio">
                                                <ul class="list-group clear-list" style="height:160px;">
                                                    <li class="list-group-item fist-item">
                                                        <span class="pull-right"> {{vm.predioSeleccionado.costoAutorizadoM2 | currency}} </span>
                                                        Costo autorizado m<sup>2</sup>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <span class="pull-right"> {{vm.predioSeleccionado.totalCosto | currency}} </span>
                                                        Costo total
                                                    </li>
                                                    <li class="list-group-item">
                                                        <span class="pull-right"> {{vm.predioSeleccionado.costoContable | currency}} </span>
                                                        Costo contable
                                                    </li>
                                                    <li style="height: 80px" class="list-group-item">
                                                        <span class="pull-right" style="width: 300px;text-align: right;"> {{vm.predioSeleccionado.observacionesDisponibles}} </span>
                                                        Observaciones
                                                    </li>
                                                </ul>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12 text-center">
                                                        <button type="button" ng-click="vm.editar_costo_predio(vm.predioSeleccionado)" class="btn btn-success btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-trash-o"></i></span> Editar costos</button>
                                                    </div>
                                                </div>

                                            </tab>

                                        </tabset>

                                    </div>

                                </div>
      
                        </div> <!-- client == 2 -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
