<div class="row wrapper border-bottom white-bg page-heading">
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-7">
            <div class="ibox">
                <div class="ibox-title">
                    <div class="row">
                            <div class="col-md-7">
                                    <h2>Lista de predios disponibles</h2>
                            </div>
                            <div class="col-md-5">
                                        <div class="input-group col-md-offset-2">
                                                <label class="col-md-3 control-label" style="margin-top:7px;">Municipio:</label>
                                                <div class="col-md-9">
                                                    <select class="form-control m-b" ng-model="vm.municipioSeleccionado" ng-change="vm.muestra_reservas_municipio()" ng-options="municipio as municipio.nombreMunicipio for municipio in vm.listaMunicipios" required></select>
                                            </div>
                                        </div>
                            </div>
                    </div>
                </div>
                <div class="ibox-content">
                    
                    <div class="row">
                        <div class="col-md-7">
                                        <div class="input-group" style="margin-top:17px;width: 350px;">
                                                <label class="col-md-3 control-label" style="margin-top:7px;">Estatus:</label>
                                                <div class="col-md-9">
                                                    <select class="form-control m-b" ng-model="vm.estatusSeleccionado" ng-change="vm.muestra_reserva_estatus()" ng-options="estatus as estatus.descripcionEstatusReserva for estatus in vm.listaEstatus" required></select>
                                            </div>
                                        </div>
                        </div>
                        <div class="col-md-5">
                                        <div class="input-group" style="margin-top:16px;">
                                            <input type="text" ng-teclaenter="vm.muestraResultadosBusqueda()" placeholder="Nombre" class="input form-control" ng-model="vm.nombre_buscar" required>
                                                    <span class="input-group-btn">
                                                            <button class="btn btn-success" ng-click="vm.limpiaBusqueda()" ng-show="vm.mostrarbtnLimpiar"><i class="fa fa-trash-o"></i></button>
                                                            <button class="btn btn-primary" ng-click="vm.muestraResultadosBusqueda()"><i class="fa fa-search"></i></button>
                                                    </span>
                                        </div>
                        </div>
                    </div>

                    
                    <br>
                            <table class="tablaDatos table table-condensed table-hover no-footer">
                              <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Municipio</th>
                                    <th>nombre</th>
                                    <th>Superficie</th>
                                    <th>Estatus</th>
                                </tr>
                              </thead>
                             <tbody>
                                <tr ng-repeat="reserva in vm.reservas" ng-click="vm.muestraDatosReservaActual(reserva)" ng-class="{seleccion:$index==vm.tablaListaReservas.fila_seleccionada}" class="pointer">
                                    <td> {{reserva.objectid}}</td>
                                    <td> {{reserva.municipio_pertenece.nombreMunicipio}}</td>
                                    <td> {{reserva.nombre}}</td>
                                    <td> {{reserva.superficieRegistrada | number}}</td>
                                    <td class="client-status" ng-switch on="reserva.estatusReserva">
                                        <span ng-switch-when="0" class="label label-default">{{reserva.situacion_reserva.descripcionEstatusReserva}}</span>
                                        <span ng-switch-when="1" class="label label-primary">{{reserva.situacion_reserva.descripcionEstatusReserva}}</span>
                                        <span ng-switch-when="2" class="label label-success">{{reserva.situacion_reserva.descripcionEstatusReserva}}</span>
                                        <span ng-switch-when="3" class="label label-warning">{{reserva.situacion_reserva.descripcionEstatusReserva}}</span>
                                        <span ng-switch-when="4" class="label label-danger"> {{reserva.situacion_reserva.descripcionEstatusReserva}}</span>
                                    </td>
                                </tr>
                              </tbody>
                            </table>

                            <tabla-paginacion config="vm.tablaListaReservas" paginar="vm.cambiarPagina()"></tabla-paginacion>

                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="ibox ">
        
                <div class="ibox-content" style="height:750px;">
                    <div class="tab-content">
        
                        <div class="tab-pane active" ng-show="vm.client == 1" ng-init="vm.client = 1">

                                    <div class="row">
                                        <div class="col-lg-12 text-center">
                                            <p>
                                                <h2>Seleccione un registro para ver los detalles</h2>
                                            </p>
                                        </div>
                                    </div>
                        </div>
        
                        <div class="tab-pane active" ng-show="vm.client == 2">

                                    <section id="map">
                                        <div ui-map="vm.mapa.MapaUbicacionPredio" ui-options="vm.mapa.mapOptions" style="width: 100%; height: 440px;"></div>
                                    </section>

                                    <div class="panel blank-panel">
                                                <div style="position: relative;height: 230px;">

                                                    <div class="full-height-scroll" full-scroll>

                                                        <ul class="list-group clear-list" style="height:210px; padding:20px;">
                                                            <li class="list-group-item fist-item">
                                                                <span class="pull-right"> {{vm.reservaSeleccionada.objectid}} </span>
                                                                Id reserva
                                                            </li>
                                                            <li class="list-group-item">
                                                                <span class="pull-right" ng-switch on="vm.reservaSeleccionada.estatusReserva">
                                                                    <span ng-switch-when="0" class="label label-default">{{vm.reservaSeleccionada.situacion_reserva.descripcionEstatusReserva}}</span>
                                                                    <span ng-switch-when="1" class="label label-primary">{{vm.reservaSeleccionada.situacion_reserva.descripcionEstatusReserva}}</span>
                                                                    <span ng-switch-when="2" class="label label-success">{{vm.reservaSeleccionada.situacion_reserva.descripcionEstatusReserva}}</span>
                                                                    <span ng-switch-when="3" class="label label-warning">{{vm.reservaSeleccionada.situacion_reserva.descripcionEstatusReserva}}</span>
                                                                    <span ng-switch-when="4" class="label label-danger"> {{vm.reservaSeleccionada.situacion_reserva.descripcionEstatusReserva}}</span>
                                                                </span>
                                                                Estatus
                                                            </li>
                                                            <li class="list-group-item">
                                                                <span class="pull-right"> {{vm.reservaSeleccionada.municipio_pertenece.nombreMunicipio}} </span>
                                                                Municipio
                                                            </li>
                                                            <li class="list-group-item">
                                                                <span class="pull-right"> {{vm.reservaSeleccionada.nombre}} </span>
                                                                Nombre
                                                            </li>
                                                            <li class="list-group-item">
                                                                <span class="pull-right"> {{vm.reservaSeleccionada.superficieRegistrada | number}} mts<sup>2</sup></span>
                                                                Superficie
                                                            </li>
                                                            <li style="height: 80px" class="list-group-item">
                                                                <span class="pull-right" style="width: 300px;text-align: right;"> {{vm.reservaSeleccionada.observacionesReserva}} </span>
                                                                Observaciones
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
        
                                                <br>
                                                <div class="row" ng-if="currentUser.edicionReserva == true">
                                                    <div class="col-md-12 text-center">
                                                        <button type="button" ng-click="vm.cambia_estatus_reserva(vm.reservaSeleccionada)" class="btn btn-success btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-pencil"></i></span> Editar los datos</button>
                                                    </div>
                                                </div>
                                    </div>

                                </div>
      
                        </div> <!-- client == 2 -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
