<div class="row border-bottom">
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <i class="fa fa-reorder"></i>
            </button>
            <span class="navbar-brand">Inventario de predios</span>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">

                <li ui-sref-active="active" ng-if="currentUser.prediosDisponibles == true">
                    <a ui-sref="index.predios_disponibles"><i class="fa fa-thumbs-o-up"></i> <span class="nav-label">Predios disponibles</span></a>
                </li>

                <li ui-sref-active="active" ng-if="currentUser.prediosContratados == true">
                    <a ui-sref="index.predios_contratados"><i class="fa fa-file-text-o"></i> <span class="nav-label">Predios contratados</span></a>
                </li>

                <li ui-sref-active="active" ng-if="currentUser.prediosTitulados == true">
                    <a ui-sref="index.predios_titulados"><i class="fa fa-graduation-cap"></i> <span class="nav-label">Predios titulados</span></a>
                </li>

                <li ui-sref-active="active" ng-if="currentUser.prediosNoClasificados == true">
                    <a ui-sref="index.predios_no_clasificados"><i class="fa fa-question-circle"></i> <span class="nav-label">Predios no clasificados</span></a>
                </li>

                <li ui-sref-active="active" ng-if="currentUser.prediosRegistro == true">
                    <a ui-sref="index.predios_registro"><i class="fa fa-pencil-square-o"></i> <span class="nav-label">Datos registrales del predio</span></a>
                </li>

                <li ui-sref-active="active" ng-if="currentUser.reserva == true">
                    <a ui-sref="index.reservas"><i class="fa fa-file-text-o"></i> <span class="nav-label">Reserva</span></a>
                </li>

                <li ui-sref-active="active" ng-if="currentUser.admin == true">
                    <a ui-sref="index.admin_usuarios"><i class="fa fa-users"></i> <span class="nav-label">Usuarios</span></a>
                </li>

                <li class="dropdown" dropdown ng-if="currentUser.admin == true">
                    <a class="dropdown-toggle" href dropdown-toggle><i class="fa fa-bars"></i>Cat&aacute;logos <span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li ui-sref-active="active">
                            <a ui-sref="index.muestra_catalogo({ catalogo: 'estatus_disponibles'})"><i class="fa fa-table"></i> <span class="nav-label"> Estatus de predios disponibles</span></a>
                        </li>
                        <!-- <li ui-sref-active="active">
                            <a ui-sref="index.muestra_catalogo({ catalogo: 'estatus_reserva'})"><i class="fa fa-table"></i> <span class="nav-label"> Estatus de la reserva</span></a>
                        </li> -->
                        <li ui-sref-active="active">
                            <a ui-sref="index.muestra_catalogo({ catalogo: 'estatus_titulo'})"><i class="fa fa-table"></i> <span class="nav-label"> Estatus del t&iacute;tulo</span></a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="index.muestra_catalogo({ catalogo: 'modalidad_programa'})"><i class="fa fa-table"></i> <span class="nav-label"> Modalidad del programa de vivienda</span></a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="index.muestra_catalogo({ catalogo: 'situacion_financiera'})"><i class="fa fa-table"></i> <span class="nav-label"> Situaci&oacute;n financiera del predio</span></a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="index.muestra_catalogo({ catalogo: 'situacion_juridica'})"><i class="fa fa-table"></i> <span class="nav-label"> Situaci&oacute;n jur&iacute;dica del predio</span></a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="index.muestra_catalogo({ catalogo: 'documento_asignacion'})"><i class="fa fa-table"></i> <span class="nav-label"> Documento de asignaci&oacute;n del predio</span></a>
                        </li>
                    </ul>
                </li>


            </ul>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a ui-sref="logout"><i class="fa fa-sign-out"></i> Cerrar sesi&oacute;n</a>
                </li>
            </ul>
        </div>
    </nav>
</div>